@font-face {
  font-display: swap;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/barlow-condensed-v12-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/barlow-condensed-v12-latin-300italic.woff2') format('woff2'); 
}
@font-face {
  font-display: swap;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-condensed-v12-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/barlow-condensed-v12-latin-italic.woff2') format('woff2'); 
}
@font-face {
  font-display: swap;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/barlow-condensed-v12-latin-700.woff2') format('woff2'); 
}
@font-face {
  font-display: swap;
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/barlow-condensed-v12-latin-700italic.woff2') format('woff2'); 
}
@font-face {
  font-display: swap;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/barlow-condensed-v12-latin-900.woff2') format('woff2'); 
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: "Barlow Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: #ccc;
	-webkit-font-smoothing: antialiased;
}
body {
	margin: 0;
	font-size: 1em;
	line-height: 1.6;
	background: #000000;
}
a {
	color: #6b8bca;
	font-weight: normal;
	cursor: pointer;
	text-decoration: none;
	transition:color 0.2s ease;
	-webkit-transition:color 0.2s ease;
}
a:hover {
	color: #5b00b2;
	text-decoration: underline;
	text-decoration-thickness: 1px;
	background: rgba(0, 0, 0, .025);
}
::selection {
background: #0078CF;
color: #fff;
text-shadow: none;
}
p {
	margin: 0 0 1em;
}
p:last-child {
	margin-bottom: 0;
}
a:visited {
	opacity:0.9;
}
abbr[title] {
	border-bottom:1px dotted
}
dfn {
	font-style:italic
}
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #555;
	margin:.6em 0;
	padding:0
}
pre, code, kbd, samp {
	font-family:monospace, monospace;
	font-size:1em
}
blockquote {
	margin: 1em 1em 1em 0;
	padding: 1em;
	border-left: 1px solid #DDD;
	font-style: italic;
	color: #999;
}
blockquote p {
	font-size: 1.1em;
	line-height: 2em;
	margin-bottom: 0;
}
blockquote small {
	display: block;
	font-size: 1em;
	line-height: 1.6em;
	color: #bfbfbf;
	text-align: right;
}
blockquote small:before {
	content: '\2014 \00A0';
}
b, strong {
	font-weight:700
}
small {
	font-size:85%;
	color: #999;
}
sub, sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sup {
	top:-0.5em
}
sub {
	bottom:-0.20em
}
dd {
	margin:0 0 0 40px
}
dt {
	font-weight: 700;
}
ul, ol {
	list-style:none;
	list-style-image:none;
	margin:0;
	padding:0;
}
img {
	border:0;
	vertical-align:middle
}
figure {
	margin:0
}
td {
	vertical-align:top
}
/* -------------------------------------------------------------
======	STYLES
------------------------------------------------------------- */

/* -- BUTTONS 
------------------------------------------------------------- */
.button {
	background: #333;
	color: #ccc;
	border: 1px solid #545454;
	font-weight: 300;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 1em;
	line-height: 1.4;
	display: inline-block;
	text-decoration: none;
	position: relative;
	transition: background-color 0.2s ease;
	-webkit-font-smoothing: antialiased;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #5b00b2;
	color: #fff;
	text-decoration: none;
}
/* -- TYPOGRAPHY
------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	margin:0 0 .2em;
	font-weight: normal;
}
h1 {
	font-size: 3.1em;
	text-transform: uppercase;
	line-height: 0.9;
	margin: 0 0 0em;
}
h2 {
	font-size: 2.1em;
	margin: 0 0 20px;
	letter-spacing: -0.05em;
	color: #fff;
	line-height: 1;
}
h3 {
	font-size: 1.75em;
}
h4 {
	font-size: 1.3em;
	color: #929292;
}
h5 {
	font-size: 1.17em;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: #fff;
}
h6 {
	font-size: 1em;
	margin-bottom: 6px;
	font-weight: 700;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color:#fff;
	text-decoration: none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color:#5b00b2;
	text-decoration: none;
}
/* -- GRID -- */
.container {
	width: 95%;
	margin: 5em auto;
	max-width: 1100px;
	min-width: 300px;
}
.grid-wrap {
	margin-left: -1em; /* the same as your gutter */
	overflow: hidden;
}
.grid-wrap:before, .grid-wrap:after {
	content:"";
	display:table
}
.grid-wrap:after {
	clear:both
}
.grid {
	float: left;
	padding-left: 1em; /* this is your gutter between columns */
	width: 100%;
	-webkit-box-sizing: border-box;
}
.half-gutter {
	margin-left: -1.5em;
}
.half-gutter .grid-col {
	padding-left: 1.5em;
}
.col-full {
	width: 100%;
}
.col-one-half {
	width: 50%;
}
.col-one-third {
	width: 33.333%;
}
.col-two-thirds {
	width: 66.666%;
}
.col-one-quarter {
	width: 25%;
}
.col-three-quarters {
	width: 75%;
}
.divide-top {
	border-top: 1px solid #555;
	padding-top: 2em;
	margin-top: 1.5em;
}
.mright {
	margin-right: 3em;
}
.mleft {
	margin-left: 3em;
}
.mtop {
	margin-top: 3em;
}
.mbottom {
	margin-bottom: 3em;
}
.halfmright {
	margin-right: 1.5em;
}
.halfmleft {
	margin-left: 1.5em;
}
.halfmtop {
	margin-top: 1.5em;
}
.halfmbottom {
	margin-bottom: 1.5em;
}
.fright, .fleft {
	display: block;
	overflow:hidden
}
.fright {
	float:right
}
.fleft {
	float:left
}
.alignleft {
	float: left;
	clear: left;
	margin: 0.38em 1.62em 0.38em 0;
}
.alignright {
	float: right;
	clear: right;
	margin: 0.38em 0 0.38em 1.62em;
}
.aligncenter {
	margin: 0 auto 1.62em;
	display: block;
}
/* -- MISC
------------------------------------------------------------- */
figure {
	max-height: 100%;
	overflow: hidden;
	margin-bottom: 1em;
}
figure figcaption {
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
}
a img {
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}
a img:hover {
	opacity: 0.7;
}
/* -------------------------------------------------------------
======	PAGES
------------------------------------------------------------- */
    
/* -- HEADER
------------------------------------------------------------- */
header#navtop {
	clear: both;
	overflow: hidden;
	background-image: url("../img/header.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
header nav ul {
	float: left;
	overflow: hidden;
	padding: 1.5em 4em 0 0;
	line-height: 2em;
}
nav a, menu a {
	text-decoration: none;
	color: #fff;
}
.navactive {
	color: #5b00b2;
	font-size: 1.5em;
	text-decoration: overline;
}
.logo {
	margin-bottom: 0.3em;
}
.logo:hover {
	background: none;
}
/* -- GENERAL 
------------------------------------------------------------- */
.main section {
	margin: 0 0 3em;
}
.main header {
	color: #555;
	margin: 3em;
}
.main header hr {
	border-top-color:#999;
}
.arrow:after {
	content:" \27F6"; /* html unicode: &#10230; */
}
header .arrow {
	color: #999;
	font-style: italic;
}
.arrow:hover {
	color: #5b00b2;
}
/* -- FOOTER
------------------------------------------------------------- */
footer {
	color: #929292;
	margin-bottom: 7em;
}
footer nav ul {
	float: right;
	overflow: hidden;
}
footer a {
	color: #929292;
}
footer li {
	float: left;
	margin-right: 1em;
	padding-right: 1em;
	border-right: 1px solid #929292;
	font-size: 0.8em;
}
footer li:last-child {
	margin-right: 0;
	padding-right: 0;
	border-right: none;
}
.up a {
	display: block;
	text-align: center;
	margin: 0 auto;
}
/* -- HOME-PAGE
------------------------------------------------------------- */
/* Services */
.services aside {
	color: #999;
	padding-top: 1em;
	border-top: 1px solid #DDD;
}
.services aside:after, .services h5:after {
	content: "";
	display: block;
	height: 1px;
	width: 1em;
	background: #DDD;
	margin: 1em 0;
}
/* -- WORKS / Home-page and Works-page
------------------------------------------------------------- */
.works-page figure > a {
	display: block;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.works figure > a {
	display: block;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	padding-top: 1em;
}
.works-page figure .zoom {
	display: block;
	position: absolute;
	top: 10px;
	left: 0;
	background: url(../img/zoom.png) no-repeat center;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.works figure .zoom {
	display: block;
	position: absolute;
	top: 10px;
	left: 0;
	background: url(../img/zoom.png) no-repeat center;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.works figure figcaption {
	margin-top: 0.5em;
	padding: 0 0.5em;
	white-space: nowrap;
}
.works figure figcaption a {
	line-height:2em;
	color: #555;
	font-weight: 700;
}
.works figure figcaption p {
	margin: 0;
}
.works-page .works figure {
	margin-bottom: 2em;
}
.main aside {
	margin-bottom: 2em
}
.main aside menu {
	padding: 0 0 0 0;
	line-height: 1.8em;
}
.main aside menu a {
	color: #999;
}
.main aside menu .buttonactive {
	color: #5b00b2;
}
/* -- VIDEO 
------------------------------------------------------------- */
.video-container
{
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	/* Adjust this value based on your video's aspect ratio (height / width * 100) */
	margin-bottom: 2em;
	overflow: hidden;
}
.video-container iframe
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
iframe {border:none;
}
/* -- SUBPAGES -- */

/* Work-page (single) */
.work-page figure {
	margin-bottom: 3em;
}
.work-page figcaption {
	text-align: center;
	margin-top: 1em;
}
.work-page a:hover {
    border: none;
    text-decoration: none;
}
/* Services-page */
.warning {
	display: block;
	background: #F5F5F5;
	border: 1px solid #DDD;
	border-left: none;
	border-right: none;
	text-align: center;
	padding: 20px;
	margin: 20px 0px;
}

/* -------------------------------------------------------------
======	MISC
------------------------------------------------------------- */
.hidden {
	display:none !important;
	visibility:hidden
}
/* -------------------------------------------------------------
======	MEDIA QUERIES
------------------------------------------------------------- */

/* -- Media query 1 (mq1)
------------------------------------------------------------- */
@media only screen and (max-width: 60em) { /* 16 / 960 */
 .mq1-col-full {
width: 100%;
}
 .mq1-col-one-half {
width: 50%;
}
 .mq1-col-one-third {
width: 33.333%;
}
 .mq1-col-two-thirds {
width: 66.666%;
}
 .mq1-col-one-quarter {
width: 25%;
}
 .mq1-col-three-quarters {
width: 75%;
}
	/**/
 h1 {
font-size: 3.1em;
}
 .slide figcaption {
width: 80%;
}
 footer li {
float: left;
margin-right: 0.5em;
padding-right: 0.5em;
border-right: 1px solid #DDD;
}
}
    
/* -- Media query 2 (mq2)
------------------------------------------------------------- */
@media only screen and (max-width: 48em) { /* 16 / 768 */
 .mq2-col-full {
width: 100%;
}
 .mq2-col-one-half {
width: 50%;
}
 .mq2-col-one-third {
width: 33.333%;
}
 .mq2-col-two-thirds {
width: 66.666%;
}
 .mq2-col-one-quarter {
width: 25%;
}
 .mq2-col-three-quarters {
width: 75%;
}
	/**/
	header nav {
width: 100%;
}
 header nav ul {
padding: 0;
border-left:none;
line-height: 2em;
}
 header nav ul li {
float: right;
padding: 0 2em 0 0;
}
 .slider {
margin-top: 3em;
}
} 
/* -- Media query 3 (mq3)
------------------------------------------------------------- */
@media only screen and (max-width: 30em) { /* 16 / 480 */
 .mq3-col-full {
width: 100%;
}
 .mq3-col-one-half {
width: 50%;
}
 .mq3-col-one-third {
width: 33.333%;
}
 .mq3-col-two-thirds {
width: 66.666%;
}
 .mq3-col-one-quarter {
width: 25%;
}
 .mq3-col-three-quarters {
width: 75%;
}
 .mq3-none {
display: none;
}
	/**/
header nav ul li {
padding: 0 2em 0 0;
float: right;
}
 footer li {
margin-left: .7em;
padding-right: 1em;
}
 .services article {
margin-top: 3em;
}
.services article:first-of-type {
margin-top: 0;
}
}

/* -- PRINT STYLES 
------------------------------------------------------------- */
@media print {
* {
	background:transparent !important;
	color:black !important;
	text-shadow:none !important;
	filter:none !important;
}
abbr[title]:after {
	content:"("attr(title) ")"
}
pre, blockquote {
	page-break-inside:avoid
}
thead {
	display:table-header-group
}
tr, img {
	page-break-inside:avoid
}
img {
	max-width:100% !important
}
p, h2, h3 {
	orphans:3;
	widows:3
}
h2, h3 {
	page-break-after:avoid
}
}
 
/* -------------------------------------------------------------
======	END
------------------------------------------------------------- */